# =========================
# ENVIRONMENT VARIABLES
# =========================
.env
.env.*
*.env

# Never commit secrets
config.py


# PYTHON CACHE
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.cpython-*


# =========================
# VIRTUAL ENVIRONMENT
# =========================
.venv/
venv/
env/
ENV/


# =========================
# IDE FILES
# =========================

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/


# =========================
# OS FILES
# =========================

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# =========================
# LOG FILES
# =========================
*.log


# =========================
# BUILD FILES
# =========================
build/
dist/
*.egg-info/


# =========================
# TEST CACHE
# =========================
.pytest_cache/


# =========================
# TEMP FILES
# =========================
*.tmp
*.temp


# =========================
# API RESPONSE CACHE (optional)
# =========================
cache/


# =========================
# LOCAL CONFIG OVERRIDES
# =========================
local_settings.py
__pycache__/config.cpython-314.pyc
__pycache__/config.cpython-314.pyc
